<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> 穿梭市集</div>
        <p>每个物品都是一个故事。在穿梭市集，我们收集好物，记录它的故事。在穿梭市集，遇见未知的自己。</p>
        <p><i class="fa fa-map-pin"></i> 上海市长宁区虹桥路1115弄48号</p>
        <p><i class="fa fa-phone"></i> 电话: +86 188 8888 8888 </p>
        <p><i class="fa fa-envelope"></i> E-mail: xiaenchanter@gmail.com</p>

      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">市集们</h6>
        <ul class="footer-ul">
          <li><a href="#"> 春天的市集</a></li>
          <li><a href="#"> 夏日的集市</a></li>
          <li><a href="#"> 秋日的盛宴</a></li>
          <li><a href="#"> 冬天的宝物</a></li>
          <li><a href="#"> 特别的地点</a></li>
          <li><a href="#"> 特别的时间</a></li>
          <li><a href="#"> 特别的人</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>Supreme x Levi's 系列<span>August 3,2015</span></p>
          <p>Supreme与Michael Jackson的联乘系列 <span>August 3,2015</span></p>
          <p>一件只印上“Merci”的白T<span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">联系我们</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with xiaaa & Laura</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
